# Dependency directories
node_modules/

# dotenv environment variables file
.env

#IntelliJ IDEA
.idea/

#PostgreSQL local files
/data/

# SQLite local files
*.db

#osx
.DS_Store

# Don't want maps in production
extensions/**/*.js.map
extensions/**/*.d.ts

# Don't need built seed files
database/seeds/dist